* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgb(211, 211, 211);
}

nav {
    height: 50px;
    width: 100%;
    background-color: rgb(37, 34, 34);
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    text-align: center;
}

.logo {
    align-items: center;
    margin-left: 20px;
}

.logo img {
    height: 40px;
    width: 40px;
    padding: 5px;
}

.list ul {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin-right: 100px;
}

.list ul li {
    list-style-type: none;
    color: white;
    margin-left: 10px;
    text-align: center;
    margin-top: 1rem;
    font-size: 17px;
}

a {
    color: white;
    text-decoration: none;
}

.button_icons {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 50px;
    margin-right: 10px;
}

.option_button {
    height: 50px;
    width: 80px;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.navbar .option_button i {
    background-color: transparent;
    color: white;
    border: none;
    margin-left: 10px;
}

.button_icons .search_logo,
.option_bar,
.signin_button {
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 900;
}